In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('city.txt', sep = '\t')

In [6]:
df

   location           town  mortality  hardness
0     South           Bath       1247       105
1     North     Birkenhead       1668        17
2     South     Birmingham       1466         5
3     North      Blackburn       1800        14
4     North      Blackpool       1609        18
5     North         Bolton       1558        10
6     North         Bootle       1807        15
7     South    Bournemouth       1299        78
8     North       Bradford       1637        10
9     South       Brighton       1359        84
10    South        Bristol       1392        73
11    North        Burnley       1755        12
12    South        Cardiff       1519        21
13    South       Coventry       1307        78
14    South        Croydon       1254        96
15    North     Darlington       1491        20
16    North          Derby       1555        39
17    North      Doncaster       1428        39
18    South       East Ham       1318       122
19    South         Exeter       1260        21
20    North      Gateshead       1723        44
21    North        Grimsby       1379        94
22    North        Halifax       1742         8
23    North   Huddersfield       1574         9
24    North           Hull       1569        91
25    South        Ipswich       1096       138
26    North          Leeds       1591        16
27    South      Leicester       1402        37
28    North      Liverpool       1772        15
29    North     Manchester       1828         8
..      ...            ...        ...       ...
31    North      Newcastle       1702        44
32    South        Newport       1581        14
33    South    Northampton       1309        59
34    South        Norwich       1259       133
35    North     Nottingham       1427        27
36    North         Oldham       1724         6
37    South         Oxford       1175       107
38    South       Plymouth       1486         5
39    South     Portsmouth       1456        90
40    North        Preston       1696         6
41    South        Reading       1236       101
42    North       Rochdale       1711        13
43    North      Rotherham       1444        14
44    North      St Helens       1591        49
45    North        Salford       1987         8
46    North      Sheffield       1495        14
47    South    Southampton       1369        68
48    South       Southend       1257        50
49    North      Southport       1587        75
50    North  South Shields       1713        71
51    North      Stockport       1557        13
52    North          Stoke       1640        57
53    North     Sunderland       1709        71
54    South        Swansea       1625        13
55    North       Wallasey       1625        20
56    South        Walsall       1527        60
57    South  West Bromwich       1627        53
58    South       West Ham       1486       122
59    South  Wolverhampton       1485        81
60    North           York       1378        71

[61 rows x 4 columns]

In [9]:
mean = df['mortality'].mean()

In [10]:
std = df['mortality'].std()

In [11]:
n = df.shape[0]

In [22]:
(((df['mortality'] - mean)**2).sum()/(n-1))**(1/2)

187.6687539314571

In [24]:
mean - 1.96*std

1156.3167832779507

In [25]:
mean + 1.96*std

1891.9782986892626

In [26]:
from scipy import stats

In [31]:
z_score = stats.norm.ppf((1+0.95)/2)

In [32]:
z_score

1.959963984540054

In [37]:
mean - num*std/(n**(1/2))

1476.0833413552848

In [36]:
num = stats.t.ppf((1 + 0.95) / 2., n-1)

In [46]:
df_southern = df[df['location'] == 'South']['mortality']

In [47]:
df_southern

0     1247
2     1466
7     1299
9     1359
10    1392
12    1519
13    1307
14    1254
18    1318
19    1260
25    1096
27    1402
32    1581
33    1309
34    1259
37    1175
38    1486
39    1456
41    1236
47    1369
48    1257
54    1625
56    1527
57    1627
58    1486
59    1485
Name: mortality, dtype: int64

In [51]:
mean_southern = df_southern.mean()

In [52]:
std_southern = df_southern.std()

In [55]:
n_southern = df_southern.shape[0]

In [66]:
mean_southern + num_southern*std_southern/((n_southern)**(1/2))

1433.463638321761

In [65]:
num_southern = stats.t.ppf((1 + 0.95) / 2., n_southern-1)

In [ ]:
mean - num*std/(n**(1/2))

In [73]:
df_temperature = pd.read_csv('temperature.txt', sep = '\t')

In [96]:
df_temperature

   Unnamed: 0  Temperature  Incident
0    Apr12.81         18.9         0
1    Nov12.81         21.1         1
2    Mar22.82         20.6         0
3    Nov11.82         20.0         0
4    Apr04.83         19.4         0
5    Jun18.83         22.2         0
6    Aug30.83         22.8         0
7    Nov28.83         21.1         0
8    Feb03.84         13.9         1
9    Apr06.84         17.2         1
10   Aug30.84         21.1         1
11   Oct05.84         25.6         0
12   Nov08.84         19.4         0
13   Jan24.85         11.7         1
14   Apr12.85         19.4         0
15   Apr29.85         23.9         0
16   Jun17.85         21.1         0
17   Jul29.85         27.2         0
18   Aug27.85         24.4         0
19   Oct03.85         26.1         0
20   Oct30.85         23.9         1
21   Nov26.85         24.4         0
22   Jan12.86         14.4         1

In [88]:
mean_1 = df_temperature[df_temperature['Incident'] == 1]['Temperature'].mean()

In [89]:
mean_0 = df_temperature[df_temperature['Incident'] == 0]['Temperature'].mean()

In [91]:
mean_1 - mean_0

-4.666964285714283

In [101]:
def get_bootstrap_samples(x, n_resamples):
    indices = np.random.randint(0, len(x), (n_resamples, len(x)))
    resamples = x[indices]
    return resamples

In [102]:
def percentile_interval(stat, alpha):
    boundaries = np.percentile(stat, [100 * alpha / 2., 100 * (1 - alpha / 2.)])
    return boundaries

In [110]:
oring_1 = df_temperature[df_temperature['Incident'] == 1]['Temperature'].values

In [111]:
oring_0 = df_temperature[df_temperature['Incident'] == 0]['Temperature'].values

In [112]:
np.random.seed(0)

oring_1_mean_scores = list(map(np.mean, get_bootstrap_samples(oring_1, 5000)))
oring_0_mean_scores = list(map(np.mean, get_bootstrap_samples(oring_0, 5000)))

In [114]:
delta_mean_scores = list(map(lambda x: x[1] - x[0], zip(oring_1_mean_scores, oring_0_mean_scores )))

In [115]:
print("95% confidence interval for the difference between median repair times:",  
      percentile_interval(delta_mean_scores, 0.05))

95% confidence interval for the difference between median repair times: [1.27671875 7.976875  ]